site_name: STAM Documentation

repo_url: https://github.com/annotation/stam
repo_name: annotation/stam
docs_dir: mkdocsrc
site_dir: site/specs

theme:
  name: material
  logo: logo.png
  features:
    - content.action.edit
    - content.code.copy
  palette: 
    # Palette toggle for light mode
    - scheme: default
      primary: green
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: green
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mermaid2
  - git-revision-date-localized

markdown_extensions:
  - mdx_spanner
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
        # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - toc:
      permalink: true

nav:
  - "Front page": "https://annotation.github.io/stam"
  - "Model Specification": "README.md"
  - "Source repository": "https://github.com/proycon/stam"
  - "Examples": "examples/README.md"
  - "STAM Extensions":
    - "STAM CSV": "extensions/stam-csv/README.md"
    - "STAM Textvalidation": "extensions/stam-textvalidation/README.md"
    - "STAM Translate": "extensions/stam-translate/README.md"
    - "STAM Transpose": "extensions/stam-transpose/README.md"
    - "STAM Query": "extensions/stam-query/README.md"
    - "STAM Vocab": "extensions/stam-vocab/README.md"
    - "STAM Web Annotations": "extensions/stam-webannotations/README.md"
  - "STAM Tools": "tools/README.md"
  - "Implementations (sources)":
    - "stam-rust": "https://github.com/annotation/stam-rust"
    - "stam-tools": "https://github.com/annotation/stam-tools"
    - "stam-python": "https://github.com/annotation/stam-rust"
    - "stamd": "https://github.com/annotation/stamd"
  - "API References":
    - "stam-rust": "https://docs.rs/stam"
    - "stam-python": "https://stam-python.readthedocs.io"
  - "Tutorials":
    - "Stand-off Text Annotation for Pythonistas": "https://nbviewer.org/github/annotation/stam-python/blob/master/tutorial.ipynb"

